h3 {
    font-size: 23px;
    text-align: center;
}

.btn-success:hover {
    background-color: red;
}

canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}